.redt {
  color: red;
  text-transform: uppercase;
}
p{
  font-family: Arial, sans-serif;
  color: purple;
}
h2{
  font-size: 40px;
}
div p {
  color: blue;
}
li.redt{
  color: green;
}
.box{
  position: absolute;
  margin: 20px 10% 20px 10%
  border: black 3px solid;
  padding: 10px 20% 10px 20%;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
